<launch>

    <arg name="namespace" default="c5"/>

    <node name="laserscan_to_pointcloud" pkg="leica_gazebo_simulation" type="laserscan_to_pointcloud" ns="$(arg namespace)" output="screen"/>
    
    <node name="leica_service_listener" pkg="leica_gazebo_simulation" type="leica_service_listener" ns="$(arg namespace)" output="screen"/>

    <node name="move_c5_pan" pkg="leica_gazebo_simulation" type="move_c5_pan.py" output="screen"/>

</launch>